{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@common/(.*)$", "^@database/(.*)$",  "^@graphql/(.*)$", "^@utils/(.*)$", "^[./]"],
  "importOrderSeparation": true
}